@define-mixin visually-hidden {
  /* stylelint-disable-next-line declaration-no-important */
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

[hidden] {
  display: none;
}

.visually-hidden {
  @mixin visually-hidden;
}
